body {
  font-family: sans-serif;
  font-size: 20px;
  background-color: #fff;
}

.container {
  background-color: antiquewhite;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.github-credit {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  justify-content: center;
}

.github-credit:hover {
  color: #666;
  text-align: center;
  display: inline-block;
}

.dropdown-container {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.form {
  display: flex;
}

.dropdown-container select {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-container button {
  padding: 6px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  height: 10px;
}

h2 {
  margin: 0px 0 10px;
}

.table1 {
  /* Add specific styles for the first table */
  border: 1px solid #ccc;
}

.table2 {
  /* Add specific styles for the second table */
}

.chart {
  border: 1px solid #ccc;
}

.hidden {
  display: none;
}

.P1 {
  background-color: #6d9eeb;
}
.P2 {
  background-color: #93c47d;
}
.P3 {
  background-color: #ffd966;
}
.P4 {
  background-color: #f6b26b;
}
.P5 {
  background-color: #e06666;
}

.div1 {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
}

.div2 {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
}